.call-detail-wrapper {
    margin: 15px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.back-icon {
    cursor: pointer;
    padding: 15px;
}

.card-detail {
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 10px;
    margin: 1px 18px 24px 17px;
    height: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
}

.card-detail >ul{
    padding-left: 15px;
    list-style: none;
}

.card-section {
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 10px;
    margin: 1px 18px 24px 17px;
    height: auto;
    display: grid;
}

.card-section >ul{
    list-style: none;
}

.card-detail .icon-section {
    padding-top: 13%;
    padding-left: 12%;
    border-right: 0.5px dotted lightgray;
}

.card-detail .time-section {
    display: flex;
    flex-direction: column;
}

.card-detail .archive-section {
    padding-left: 20%;
    border-left: 0.5px dotted lightgray;
}