footer {
    padding: 15px;
    border-top: 0.5px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.wrap-count {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.footer-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding-right: 15px;
}
